body{
    background-image: url(./transform.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    width: 25%;
    border-radius: 10px;
    align-items: center;
    text-align: justify;
    align-items: center;
    text-align: center;
    background-color: chocolate;
    margin-left: 30%;
    margin-top: 10%;
}
legend{
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow:0 0 5px red;
    align-items: center;
}
legend::first-letter{
    font-size: 2em;
}
label{
text-transform: uppercase;
text-align: center;
margin-left: 25%;

}
input{
    text-align: center;
    border-radius: 4px;
    color: chocolate;
    margin-left: 25%;
    }
    button{
        text-align: center;
        border-radius: 7px;
        background-color: darkmagenta;
        margin-left: 40%;
        font-weight: 100;
        text-transform: uppercase;
        height: 30px;
        width: 80px;
        text-align: center;
        padding: 5px;
        color: deepskyblue;

    }
    nav h1 {
        text-transform: uppercase;
        text-align: center;
        color: darkred;
        font-size: 40px;

    }
    nav{
        padding: 10px;
        height: 30px;
        width: 99%;
    }
    ul{
        list-style: none;
        margin-top: -3%;
        padding-right: 10px;
        }
    ul li{
        float: right;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 20%;
    }
    a:hover {
        color: red;
    }

